@font-face {
  font-family: 'DancingScript';
  src: url('DancingScript.otf');
}

body {
  background-color: #02010a;
  font-family: 'DancingScript';
}

#contenido {
  width: 900px;
  margin: 0 auto;
  animation-name: rebote;
  animation-duration: 1.3s;
}

*{
  margin: 0;
}
@-webkit-keyframes rebote {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
/*De aquí hacia abajo se muestra el código de la cabecera y del menú de vínculos*/
a:link, a:visited {
  color: white;
  font-size: 1.3em;
  text-decoration: underline;
  text-underline-position: under;
}

a[class="current"]:link, a[class="current"]:visited
/*Esta es una forma alternativa a los selectores de arriba*/
/*a.current:link, a.current:visited */
  {
    text-decoration: none;
    color: white;
  }

  .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #5b7989;
    border-radius: 10px 10px 0px 0px;
  }

  h1 {
    color: white;
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 2%;
  }

  nav {
    width: 50%;
    float: right;
    box-sizing: border-box;
  }

 ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    float: right;
    box-sizing: border-box;
    padding: 2%;
  }

 li{
    margin: auto 15px;

  }
/*De aquí hacia abajo se muestra el código de la sección de imágenes*/
  #paisaje {
    background: #82c3a6;
    padding: 7%;
  }
  #paisaje img {
    width: 100%;
    border: 2px solid black;
  }
  figcaption a:link, figcaption a:visited {
    color: black;
    font-size: 1.2em;
    text-decoration: underline;
    text-underline-position: under;
  }
  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #d5c75f;
    width: 100%;
  }
  picture {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 4%;
  }
  picture > img {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
  }
  #linkpaisaje img {
    transition-property: transform;
    transition-duration: 1s;
  }
  #linkpaisaje img:hover {
    transform: rotate(10deg);
  }
  #linkretrato img {
    transition-property: transform;
    transition-duration: 1s;
  }
  #linkretrato img:hover {
    transform: translate(20px,-5px);
  }

/*De aquí hacia abajo se muestra el código del pie de página*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #c6d5c5;
  width: 100%;
  border-radius: 0 0 10px 10px;
}
.tabla {
  width: 25%;
  padding: 2%;
  box-sizing: border-box;
}

.tabla img{
  vertical-align: middle;
}

table th {
  font-size: 1.8em;
  text-align: left;
}
table td {
  font-size: 1.2em;
}
table td a:link {
  color: black;
}


@media (max-width: 900px){
  #contenido {
    width: 100%;
    margin: 0 auto;
  }
  /*Código para cabecera y menú de vínculos*/
  h1 {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  nav {
    width: 100%;
  }
  ul {
    width: 100%;
    padding-top: 0;
    padding-bottom: 2em;
  }
  li {
    width: 100%;
    text-align: center;
  }
  /*Código para sección de imágenes*/
  picture {
    width: 100%;
    padding: 7%;
  }
  /*Código para pie de página*/
  .tabla {
    width: 100%;
    margin-left: 5%;
  }
}
