@font-face {
  font-family: 'DancingScript';
  src: url('DancingScript.otf');
}

body {
  background-color: #02010a;
  font-family: 'DancingScript';
}
*{
  margin: 0;
}

a:link, a:visited {
  color: white;
  text-decoration: underline;
  text-underline-position: under;
}
a[class="current"]:link, a[class="current"]:visited
/*Esta es una forma alternativa a los selectores de arriba*/
/*a.current:link, a.current:visited */
  {
    text-decoration: none;
    color: white;
  }

  #contenido {
    width: 900px;
    margin: 0 auto;
  }
  .contenedor {
    /*display: flex;
    flex-direction: row;*/
    height: 70px;
    background: #5b7989;
    border-radius: 10px 10px 0px 0px;
  }
  .contenedor h1{
    display: inline-block;
    color: white;
    text-shadow: 2px 2px #02010a;
    width: 50%;
    /*float: left;*/
    box-sizing: border-box;
    padding: 2%;
    height: 100%;



  }
  .contenedor nav {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding: 2%;
    height: 70px;
    height: 100%;

    /*padding: 2%;*/
    /*float: left;*/
  }
  nav ul {
    list-style-type: none;
    /*display: flex;
    flex-direction: row;
    float: right;*/
    font-size: 1.4em;
  }
 ul > li{
    display: flex;
    flex-direction: row;
    float: right;
    margin: auto 15px;
  }
  #paisaje {

    background: #82c3a6;
    padding: 10%;

  }
  #paisaje img {
    width: 100%;
    border: 2px solid black;
  }
  #linkpaisaje img {
    width: 50%;
    border: 2px solid black;
    text-align: center;

  }
  #linkretrato img {
      width: 50%;
      border: 2px solid black;
      text-align: center;

  }
  .links {
    display: flex;
    background: #d5c75f;

  /*  flex-direction: row;*/
  }

@media (max-width: 900px){
  #contenido {
    width: 100%;
    margin: 0;
  }
  .contenedor {
    display: block;
    /*flex-direction: column;*/
  }
  .contenedor h1 {
    width: 100%;
    text-align: center;
  }
  nav {
    width: 100%;
    text-align: center;
  }
  nav ul {
    box-sizing: border-box;
    float: none;
    text-align: center;
    width: 100%;
  }


}
